{{- if and .Values.monitoring.enabled .Values.monitoring.loki.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cluster-addons.componentName" (list . "loki") }}-config
  labels:
    {{- include "cluster-addons.componentLabels" (list . "loki") | nindent 4 }}
    addons.stackhpc.com/watch: ""
stringData:
  defaults: |
    loki:
      serviceMonitor:
        enabled: true
  overrides: |
    {{- toYaml .Values.monitoring.loki.release.values | nindent 4 }}
# ---
# apiVersion: v1
# kind: Secret
# metadata:
#   name: {{ include "cluster-addons.componentName" (list . "promtail") }}-config
#   labels:
#     {{- include "cluster-addons.componentLabels" (list . "promtail") | nindent 4 }}
#     addons.stackhpc.com/watch: ""
# stringData:
#   defaults: |
#     promtail:
#       config:
#         serviceMonitor:
#           enabled: true
#         # Get promtail to scrape systemd services
#         config:
#           snippets:
#             extraScrapeConfigs: |
#               - job_name: journal
#                 journal:
#                   path: /var/log/journal
#                   max_age: 12h
#                   labels:
#                     job: systemd-journal
#                 relabel_configs:
#                   - source_labels: ['__journal__systemd_unit']
#                     target_label: 'unit'
#                   - source_labels: ['__journal__hostname']
#                     target_label: 'hostname'
#                   - source_labels: ['__journal_priority_keyword']
#                     target_label: level
#         # Mount journal directory and machine-id file into promtail pods
#         extraVolumes:
#           - name: journal
#             hostPath:
#               path: /var/log/journal
#           - name: machine-id
#             hostPath:
#               path: /etc/machine-id
#         extraVolumeMounts:
#           - name: journal
#             mountPath: /var/log/journal
#             readOnly: true
#           - name: machine-id
#             mountPath: /etc/machine-id
#             readOnly: true
#     overrides: |
#       {{- toYaml .Values.monitoring.promtail.release.values | nindent 4 }}
---
apiVersion: addons.stackhpc.com/v1alpha1
kind: HelmRelease
metadata:
  name: {{ include "cluster-addons.componentName" (list . "loki") }}
  labels: {{ include "cluster-addons.componentLabels" (list . "loki") | nindent 4 }}
spec:
  clusterName: {{ include "cluster-addons.clusterName" . }}
  bootstrap: true
  chart: {{ toYaml .Values.monitoring.loki.chart | nindent 4 }}
  targetNamespace: {{ .Values.monitoring.loki.release.namespace }}
  releaseName: loki
  valuesSources:
    - secret:
        name: {{ include "cluster-addons.componentName" (list . "loki") }}-config
        key: defaults
    - secret:
        name: {{ include "cluster-addons.componentName" (list . "loki") }}-config
        key: overrides
  # StatefulSets do not allow their PVCs to be resized, but we can use lifecycle hooks
  # to ensure that it happens correctly@
  lifecycleHooks:
    preUpgrade:
      - apiVersion: apps/v1
        kind: StatefulSet
        name: loki
        action: delete
    {{- if .Values.monitoring.loki.release.values.loki.persistence.enabled }}
      - apiVersion: v1
        kind: PersistentVolumeClaim
        selector:
          app: loki
          release: loki
        action: patch
        options:
          data:
            spec:
              resources:
                requests:
                  storage: {{ .Values.monitoring.loki.release.values.loki.persistence.size }}
    {{- else }}
    postUpgrade:
      - apiVersion: v1
        kind: PersistentVolumeClaim
        selector:
          app: loki
          release: loki
        action: delete
    {{- end }}
    # After deleting the release, remove the PVCs
    postDelete:
      - apiVersion: v1
        kind: PersistentVolumeClaim
        selector:
          app: loki
          release: loki
        action: delete
# ---
# apiVersion: addons.stackhpc.com/v1alpha1
# kind: HelmRelease
# metadata:
#   name: {{ include "cluster-addons.componentName" (list . "promtail") }}
#   labels: {{ include "cluster-addons.componentLabels" (list . "promtail") | nindent 4 }}
# spec:
#   clusterName: {{ include "cluster-addons.clusterName" . }}
#   bootstrap: true
#   chart: {{ toYaml .Values.monitoring.promtail.chart | nindent 4 }}
#   targetNamespace: {{ .Values.monitoring.promtail.release.namespace }}
#   releaseName: promtail
#   valuesSources:
#     - secret:
#         name: {{ include "cluster-addons.componentName" (list . "promtail") }}-config
#         key: defaults
#     - secret:
#         name: {{ include "cluster-addons.componentName" (list . "promtail") }}-config
#         key: overrides
---
apiVersion: addons.stackhpc.com/v1alpha1
kind: Manifests
metadata:
  name: {{ include "cluster-addons.componentName" (list . "loki-stack-dashboards") }}
  labels: {{ include "cluster-addons.componentLabels" (list . "loki-stack-dashboards") | nindent 4 }}
spec:
  clusterName: {{ include "cluster-addons.clusterName" . }}
  bootstrap: true
  targetNamespace: {{ .Values.monitoring.loki.release.namespace }}
  releaseName: loki-stack-dashboards
  manifestSources:
    - template: |
        apiVersion: v1
        kind: ConfigMap
        metadata:
          name: loki-stack-grafana-datasource
          labels:
            grafana_datasource: "1"
        data:
          loki-datasource.yaml: |-
            apiVersion: 1
            datasources:
              - name: Loki
                type: loki
                url: http://loki.{{ .Values.monitoring.loki.release.namespace }}:3100
                access: proxy
                version: 1
                isDefault: false
    - template: |
        apiVersion: v1
        kind: ConfigMap
        metadata:
          name: loki-stack-grafana-dashboards
          labels:
            grafana_dashboard: "1"
        data:
          loki-pod-logs-dashboard.json: |
            {% raw %}
            {{- .Files.Get "grafana-dashboards/loki-pod-logs-dashboard.json" | nindent 12 }}
            {% endraw %}
          loki-systemd-logs-dashboard.json: |
            {% raw %}
            {{- .Files.Get "grafana-dashboards/loki-systemd-logs-dashboard.json" | nindent 12 }}
            {% endraw %}
          loki-metrics-dashboard.json: |
            {% raw %}
            {{- .Files.Get "grafana-dashboards/loki-metrics-dashboard.json" | nindent 12 }}
            {% endraw %}
{{- end }}