{{- if and .Values.monitoring.enabled .Values.monitoring.promtail.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cluster-addons.componentName" (list . "promtail") }}-config
  labels:
    {{- include "cluster-addons.componentLabels" (list . "promtail") | nindent 4 }}
    addons.stackhpc.com/watch: ""
stringData:
  defaults: |
    config:
      serviceMonitor:
        enabled: true
      # Get promtail to scrape systemd services
      clients:
        {{- $clients := dig "promtail" "release" "values" "config" "clients" nil .Values.monitoring }}
        {{- if not $clients }}
        {{- with .Values.monitoring.loki }}
        - url: http://{{ .release.values.fullnameOverride | default .chart.name }}.{{ .release.namespace }}.svc:3100/loki/api/v1/push
          tenant_id: 1
        {{- end }}
        {{- end }}
      snippets:
        extraScrapeConfigs: |
          - job_name: journal
            journal:
              path: /var/log/journal
              max_age: 12h
              labels:
                job: systemd-journal
            relabel_configs:
              - source_labels: ['__journal__systemd_unit']
                target_label: 'unit'
              - source_labels: ['__journal__hostname']
                target_label: 'hostname'
              - source_labels: ['__journal_priority_keyword']
                target_label: level
    # Mount journal directory and machine-id file into promtail pods
    extraVolumes:
      - name: journal
        hostPath:
          path: /var/log/journal
      - name: machine-id
        hostPath:
          path: /etc/machine-id
    extraVolumeMounts:
      - name: journal
        mountPath: /var/log/journal
        readOnly: true
      - name: machine-id
        mountPath: /etc/machine-id
        readOnly: true
  overrides: |
    {{- toYaml .Values.monitoring.promtail.release.values | nindent 4 }}
---
apiVersion: addons.stackhpc.com/v1alpha1
kind: HelmRelease
metadata:
  name: {{ include "cluster-addons.componentName" (list . "promtail") }}
  labels: {{ include "cluster-addons.componentLabels" (list . "promtail") | nindent 4 }}
spec:
  clusterName: {{ include "cluster-addons.clusterName" . }}
  bootstrap: true
  chart: {{ toYaml .Values.monitoring.promtail.chart | nindent 4 }}
  targetNamespace: {{ .Values.monitoring.promtail.release.namespace }}
  releaseName: promtail
  valuesSources:
    - secret:
        name: {{ include "cluster-addons.componentName" (list . "promtail") }}-config
        key: defaults
    - secret:
        name: {{ include "cluster-addons.componentName" (list . "promtail") }}-config
        key: overrides
{{- end }}