{{- if and .Values.openstack.enabled .Values.openstack.csiCinder.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cluster-addons.componentName" (list . "csi-cinder") }}-config
  labels:
    {{- include "cluster-addons.componentLabels" (list . "csi-cinder") | nindent 4 }}
    addons.stackhpc.com/watch: ""
stringData:
  # By default, we disable the storage class deployed by the cinder-csi chart
  # We deploy our own instead as it gives us more control over the parameters
  defaults: |
    csi:
      plugin:
        # This has to be non-empty or the chart fails to render
        volumes:
          - name: cacert
            emptyDir: {}
        volumeMounts:
          - name: cloud-config
            mountPath: /etc/config
            readOnly: true
          - name: cloud-config
            mountPath: /etc/kubernetes
            readOnly: true
    secret:
      enabled: true
      create: false
      name: cloud-config
    storageClass:
      enabled: false
    clusterID: {{ include "cluster-addons.clusterName" . }}
  overrides: |
    {{- toYaml .Values.openstack.csiCinder.values | nindent 4 }}
---
apiVersion: addons.stackhpc.com/v1alpha1
kind: HelmRelease
metadata:
  name: {{ include "cluster-addons.componentName" (list . "csi-cinder") }}
  labels: {{ include "cluster-addons.componentLabels" (list . "csi-cinder") | nindent 4 }}
  annotations:
    # Tell Argo to ignore the non-controller owner references for this object
    argocd.argoproj.io/sync-options: "ControllerReferencesOnly=true"
spec:
  clusterName: {{ include "cluster-addons.clusterName" . }}
  bootstrap: true
  chart: {{ toYaml .Values.openstack.csiCinder.chart | nindent 4 }}
  targetNamespace: {{ .Values.openstack.targetNamespace }}
  releaseName: csi-cinder
  valuesSources:
    - secret:
        name: {{ include "cluster-addons.componentName" (list . "csi-cinder") }}-config
        key: defaults
    - secret:
        name: {{ include "cluster-addons.componentName" (list . "csi-cinder") }}-config
        key: overrides
{{- if .Values.openstack.csiCinder.defaultStorageClass.enabled }}
---
apiVersion: addons.stackhpc.com/v1alpha1
kind: Manifests
metadata:
  name: {{ include "cluster-addons.componentName" (list . "csi-cinder-storageclass") }}
  labels: {{ include "cluster-addons.componentLabels" (list . "csi-cinder-storageclass") | nindent 4 }}
  annotations:
    # Tell Argo to ignore the non-controller owner references for this object
    argocd.argoproj.io/sync-options: "ControllerReferencesOnly=true"
spec:
  clusterName: {{ include "cluster-addons.clusterName" . }}
  bootstrap: true
  targetNamespace: {{ .Values.openstack.targetNamespace }}
  releaseName: csi-cinder-storageclass
  manifestSources:
    - template: |
        {{- with .Values.openstack.csiCinder.defaultStorageClass }}
        apiVersion: storage.k8s.io/v1
        kind: StorageClass
        metadata:
          name: {{ .name }}
          annotations:
            storageclass.kubernetes.io/is-default-class: "true"
        provisioner: cinder.csi.openstack.org
        parameters:
          availability: {{ .availabilityZone }}
          {{- with .volumeType }}
          type: {{ . }}
          {{- end }}
        reclaimPolicy: {{ .reclaimPolicy }}
        allowVolumeExpansion: {{ .allowVolumeExpansion }}
        volumeBindingMode: WaitForFirstConsumer
        {{- with .allowedTopologies }}
        allowedTopologies: {{ toYaml . | nindent 6 }}
        {{- end }}
        {{- end }}
{{- end }}
{{- range .Values.openstack.csiCinder.additionalStorageClasses }}
{{- $rangeItem := . -}}
{{- with $ }}
---
apiVersion: addons.stackhpc.com/v1alpha1
kind: Manifests
metadata:
  name: {{ include "cluster-addons.componentName" (list . "csi-cinder-storageclass") }}
  labels: {{ include "cluster-addons.componentLabels" (list . "csi-cinder-storageclass") | nindent 4 }}
spec:
  clusterName: {{ include "cluster-addons.clusterName" . }}
  bootstrap: true
  targetNamespace: {{ .Values.openstack.targetNamespace }}
  releaseName: {{ $rangeItem.name }}-storageclass
  manifestSources:
    - template: |
        apiVersion: storage.k8s.io/v1
        kind: StorageClass
        metadata:
          name: {{ $rangeItem.name }}
        provisioner: cinder.csi.openstack.org
        parameters:
          availability: {{ $rangeItem.availabilityZone }}
          {{- with $rangeItem.volumeType }}
          type: {{ . }}
          {{- end }}
        reclaimPolicy: {{ $rangeItem.reclaimPolicy }}
        allowVolumeExpansion: {{ $rangeItem.allowVolumeExpansion }}
        volumeBindingMode: WaitForFirstConsumer
        {{- with $rangeItem.allowedTopologies }}
        allowedTopologies: {{ toYaml . | nindent 6 }}
        {{- end }}
{{- end }}
{{- end }}
{{- end }}