name: ci
# Run the tasks on every push
on: [pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.10.0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          check-latest: true

      - name: Set up chart-testing
        uses: scrungus/chart-testing-action@v3.7.3
      
      - name: Copy cloud creds to file
        run: 'echo "$TYLER_CLOUDS" > clouds.yml'
        shell: bash
        env:
          TYLER_CLOUDS: ${{ secrets.TYLER_CLOUDS }}

      - name: Run chart-testing (lint)
        run: ct lint --target-branch ${{ github.event.repository.default_branch }} --all --validate-maintainers=false --extra-values clouds.yml
  
  install:
    needs:
      - lint
    uses: ./.github/workflows/install.yaml
    secrets: inherit
    if: github.repository == 'stackhpc/capi-helm-charts'
