name: HelmLint
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.10.0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          check-latest: true

      - name: Set up chart-testing
        uses: scrungus/chart-testing-action@v3.7.3
      
      - name: Dummy cloud creds
        uses: "DamianReeves/write-file-action@master"
        with:
          path: clouds.yml
          write-mode: overwrite
          contents: |
            clouds:
              openstack:
                auth:
                  auth_url: https://my.cloud:5000
                  application_credential_id: "xxxx"
                  application_credential_secret: "xxxx"
                region_name: "RegionOne"
                verify: false
                interface: "public"
                identity_api_version: 3
                auth_type: "v3applicationcredential"


      - name: Run chart-testing (lint)
        run: ct lint --target-branch ${{ github.event.repository.default_branch }} --all --validate-maintainers=false --extra-values clouds.yml

      - name: Trigger chart installs (on pr)
        if: github.event_name == 'pull_request'
        run: |
          gh workflow run \
          install.yaml \
          --repo ${{ github.repository }} \
          --ref ${{ github.event.pull_request.head.ref }}
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Trigger chart installs (on pull)
        if: github.event_name == 'push'
        run: |
          gh workflow run \
          install.yaml \
          --repo ${{ github.repository }} \
          --ref ${{ github.event.push.head.ref }}
        env:
          GH_TOKEN: ${{ github.token }}

    
